@font-face {
  font-family: 'the-witcher';
  src: url("/static/scss/the-witcher.eot");
  src: url("/static/scss/the-witcher.eot?#iefix") format("embedded-opentype"), url("https://github.com/synnea/the-modern-witcher/blob/d329f2db0ffc3d03473a88254c64d737a3725449/static/fonts/the-witcher.woffr.woff") format("woff"); }

/* line 10, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 h1 {
  font-family: 'the-witcher', Arial, sans-serif; }
