@font-face {
  font-family: 'the-witcher';
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff");
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff2"); }

/* line 56, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button {
  box-shadow: inset 0px 39px 0px -24px #534B62;
  background-color: #872FB9;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #534B62; }

/* line 70, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button:hover {
  background-color: #534B62; }

/* line 73, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button:active {
  position: relative;
  top: 1px; }

/* line 80, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 {
  font-family: 'the-witcher', Arial, sans-serif;
  font-size: 2rem; }
  @media (min-width: 992px) {
    /* line 80, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    h1 {
      font-size: 3rem; } }
/* line 89, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.logo, .logo:hover, .logo:active {
  font-family: 'the-witcher', Arial, sans-serif;
  text-decoration: none !important;
  cursor: pointer !important;
  font-size: 2rem;
  color: #C23138;
  margin-left: 5vw; }

/* line 99, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
body {
  font-family: "Oswald", sans-serif;
  padding: 0; }

/* line 104, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
html {
  padding: 0; }

/* line 108, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.message {
  padding-top: 10vh; }

/* line 112, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.col-12 {
  padding: 0 !important; }

/* line 116, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.fas {
  font-size: 1.8rem; }

/* line 120, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.bg-light {
  background-color: transparent !important; }

/* line 125, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.bg-light.scrolled {
  background-color: #D6BA70 !important; }

/* line 129, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.form-jumbo {
  margin-top: 10vh; }

/* line 133, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.alert {
  margin-bottom: 0; }

/* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
footer {
  height: 29vh;
  position: relative;
  width: 100% !important;
  background-color: #D69E63;
  display: block;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: 'Montserrat', sans-serif;
  text-align: center !important; }
  @media screen and (orientation: landscape) {
    /* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    footer {
      margin: 0;
      font-size: 0.7em !important; } }
  @media (min-width: 768px) {
    /* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    footer {
      height: 22vh;
      font-size: 0.8em; } }
  @media (min-width: 992px) {
    /* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    footer {
      height: 16vh; } }
  @media (min-width: 1200px) {
    /* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    footer {
      height: 18vh; } }
/* line 171, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.fa-github {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem; }

/* line 177, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.fa-github:hover {
  color: #534B62; }

/* line 181, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.row {
  margin-right: 0; }

/* line 187, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 999; }

@media (max-width: 767px) {
  /* line 200, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col {
    margin: 1rem; } }

@media screen and (orientation: landscape) {
  /* line 200, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col {
    margin: 0 !important;
    font-size: 0.7em !important; } }

@media (orientation: landscape) {
  /* line 211, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col > h6 {
    font-size: 0.8em !important; } }

@media (max-width: 576px) {
  /* line 211, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col > h6 {
    font-size: 0.8em !important; } }

@media (min-width: 1200px) {
  /* line 211, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col > h6 {
    font-size: 1.5rem !important; } }

/* line 226, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.copyright {
  padding-bottom: 0.5rem;
  width: 100%;
  padding-right: 0 !important;
  margin-left: 0 !important; }

/* line 234, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
col-4 {
  margin-left: 4vh; }

/* line 238, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
ul {
  margin: 0; }

/* line 1, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.shop-wrapper, .detail-wrapper {
  margin: 0; }
  @media (min-width: 992px) {
    /* line 1, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
    .shop-wrapper, .detail-wrapper {
      margin: 10vh; } }
/* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.img-detail {
  width: 40vh;
  height: 40vh; }
  @media (min-width: 768px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
    .img-detail {
      width: 500px;
      height: 500px; } }
/* line 19, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.category-item {
  display: block !important; }

/* line 23, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.cat-list {
  display: table-row; }

/* line 27, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.cat-item {
  display: table-cell;
  list-style-type: none;
  margin: 10px;
  vertical-align: middle; }
  @media (max-width: 992px) {
    /* line 27, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
    .cat-item {
      display: contents; } }
/* line 38, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.cat-button, .cat-all {
  background-color: transparent;
  padding: 10px;
  margin: 5px; }

/* line 45, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.cat-button:hover, .cat-button:active, .cat-all:hover,
.cat-all:active {
  background-color: #D6BA70; }

/* line 50, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.selected {
  background-color: #D69E63 !important; }

/* line 54, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.row.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px; }

/* line 60, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.panel-default {
  border-color: transparent;
  padding: 0 10px;
  margin-bottom: 5vh; }

/* line 66, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.product-header {
  text-align: center; }

/* line 70, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.panel-body {
  height: 100%;
  border: 1px solid #ddd;
  padding: 10px; }

/* line 76, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.panel-details {
  text-align: center; }

/* line 80, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.product-description {
  min-height: 40px; }

/* line 84, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.product {
  height: 200px;
  width: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto; }

/* line 93, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.back-btn {
  margin-left: 5vh;
  margin-bottom: 5vh; }

/* line 98, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.img-detail {
  padding: 0px; }
  @media (min-width: 768px) {
    /* line 98, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
    .img-detail {
      padding: 50px; } }
/* line 106, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.detail-info {
  padding: 0px; }
  @media (min-width: 768px) {
    /* line 106, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
    .detail-info {
      padding: 50px; } }
/* line 114, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.detail-wrapper {
  margin-top: 20vh;
  margin-left: 10vh;
  margin-right: 10vh; }

/* line 120, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.back-btn {
  margin-left: 10vh; }

/* line 124, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.detail-item-header {
  font-family: 'the-witcher', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3rem; }

/* line 130, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.product-description {
  margin-top: 5vh; }

/* line 134, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.star-rating {
  background-image: url("/media/star.jpg");
  height: 20px;
  width: 20px;
  background-size: contain;
  display: inline-block; }

/* line 142, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.review-row {
  padding: 0px; }
  @media (min-width: 768px) {
    /* line 142, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
    .review-row {
      padding: 50px; } }
/* line 150, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.fa-arrow-circle-down.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg); }

/* line 156, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.leave-review {
  padding-left: 50px;
  margin-top: 10vh; }

@font-face {
  font-family: 'the-witcher';
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff");
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff2"); }

/* line 56, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button {
  box-shadow: inset 0px 39px 0px -24px #534B62;
  background-color: #872FB9;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #534B62; }

/* line 70, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button:hover {
  background-color: #534B62; }

/* line 73, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button:active {
  position: relative;
  top: 1px; }

/* line 80, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 {
  font-family: 'the-witcher', Arial, sans-serif;
  font-size: 2rem; }
  @media (min-width: 992px) {
    /* line 80, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    h1 {
      font-size: 3rem; } }
/* line 89, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.logo, .logo:hover, .logo:active {
  font-family: 'the-witcher', Arial, sans-serif;
  text-decoration: none !important;
  cursor: pointer !important;
  font-size: 2rem;
  color: #C23138;
  margin-left: 5vw; }

/* line 99, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
body {
  font-family: "Oswald", sans-serif;
  padding: 0; }

/* line 104, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
html {
  padding: 0; }

/* line 108, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.message {
  padding-top: 10vh; }

/* line 112, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.col-12 {
  padding: 0 !important; }

/* line 116, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.fas {
  font-size: 1.8rem; }

/* line 120, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.bg-light {
  background-color: transparent !important; }

/* line 125, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.bg-light.scrolled {
  background-color: #D6BA70 !important; }

/* line 129, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.form-jumbo {
  margin-top: 10vh; }

/* line 133, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.alert {
  margin-bottom: 0; }

/* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
footer {
  height: 29vh;
  position: relative;
  width: 100% !important;
  background-color: #D69E63;
  display: block;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: 'Montserrat', sans-serif;
  text-align: center !important; }
  @media screen and (orientation: landscape) {
    /* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    footer {
      margin: 0;
      font-size: 0.7em !important; } }
  @media (min-width: 768px) {
    /* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    footer {
      height: 22vh;
      font-size: 0.8em; } }
  @media (min-width: 992px) {
    /* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    footer {
      height: 16vh; } }
  @media (min-width: 1200px) {
    /* line 138, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    footer {
      height: 18vh; } }
/* line 171, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.fa-github {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem; }

/* line 177, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.fa-github:hover {
  color: #534B62; }

/* line 181, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.row {
  margin-right: 0; }

/* line 187, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 999; }

@media (max-width: 767px) {
  /* line 200, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col {
    margin: 1rem; } }

@media screen and (orientation: landscape) {
  /* line 200, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col {
    margin: 0 !important;
    font-size: 0.7em !important; } }

@media (orientation: landscape) {
  /* line 211, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col > h6 {
    font-size: 0.8em !important; } }

@media (max-width: 576px) {
  /* line 211, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col > h6 {
    font-size: 0.8em !important; } }

@media (min-width: 1200px) {
  /* line 211, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
  .footer-col > h6 {
    font-size: 1.5rem !important; } }

/* line 226, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.copyright {
  padding-bottom: 0.5rem;
  width: 100%;
  padding-right: 0 !important;
  margin-left: 0 !important; }

/* line 234, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
col-4 {
  margin-left: 4vh; }

/* line 238, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
ul {
  margin: 0; }

/* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
#hero {
  background: url("/media/hero-img.jpg") center top no-repeat;
  background-size: cover !important;
  background-position: center top;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  position: relative;
  height: 80vh; }
  @media screen and (orientation: landscape) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 100vh; } }
  @media (min-width: 992px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 70vh; } }
  @media (min-width: 1024px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 80vh; } }
  @media (min-width: 1200px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 100vh; } }
  @media (max-width: 992px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      background: url("/media/bg-mobile.png");
      background-position: center center; } }
/* line 26, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.header-text {
  font-size: 4rem;
  text-shadow: 1px 1px 2px white; }
  @media (min-width: 1200px) {
    /* line 26, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .header-text {
      font-size: 5rem; } }
/* line 35, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.tagline {
  font-family: "Merriweather", serif; }
  @media (max-width: 1200px) {
    /* line 35, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .tagline {
      font-size: 1.2rem; } }
/* line 43, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.hero-content {
  height: 80vh;
  margin-left: 2vh; }
  @media screen and (orientation: landscape) {
    /* line 43, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      height: 100vh; } }
  @media (min-width: 992px) {
    /* line 43, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      height: 70vh; } }
  @media (min-width: 1024px) {
    /* line 43, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      height: 80vh; } }
  @media (min-width: 1200px) {
    /* line 43, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      height: 100vh; } }
  @media (min-width: 992px) {
    /* line 43, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      margin-left: 30vh; } }
/* line 54, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.CTA-button {
  height: 8vh;
  margin-top: 5vh;
  width: auto;
  text-transform: uppercase;
  font-family: the-witcher;
  font-size: 1.2rem; }

/* line 63, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.h-text {
  text-align: left; }
  @media (min-width: 992px) {
    /* line 63, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .h-text {
      text-align: center; } }
/* line 71, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.about-wrapper {
  text-align: center;
  padding: 5vh;
  background-color: #D69E63;
  color: black; }

/* line 78, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.card-deck {
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 35vh; }

/* line 86, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.card {
  display: inline-block !important;
  min-height: 300px;
  margin-left: 20vh;
  width: 300px; }
  @media (max-width: 1024px) {
    /* line 86, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .card {
      width: 200px !important;
      height: auto;
      display: flex;
      justify-content: center; } }
  @media (max-width: 1024px) {
    /* line 86, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .card {
      margin: 0 !important; } }
/* line 105, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.card-col {
  margin-left: 5vh;
  margin-right: 5vh; }
  @media (max-width: 992px) {
    /* line 105, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .card-col {
      margin-left: 0;
      margin-right: 0;
      justify-content: center;
      display: flex;
      margin-top: 5vh;
      margin-bottom: 5vh; } }
/* line 120, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.card-img-top {
  width: 300px;
  height: 200px; }
  @media (max-width: 992px) {
    /* line 120, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .card-img-top {
      width: 200px; } }
/* line 130, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.card-body {
  width: 300px;
  height: auto; }
  @media (max-width: 992px) {
    /* line 130, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .card-body {
      width: 200px; } }
/* line 1, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_account.scss */
.profile-wrapper {
  margin: 15vh; }

/* line 5, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_account.scss */
.logout-link {
  text-decoration: none !important;
  color: white !important; }

/* line 10, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_account.scss */
.address-row {
  margin-top: 10vh; }
