@font-face {
  font-family: 'the-witcher';
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff");
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff2"); }

/* line 7, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 {
  font-family: 'the-witcher', Arial, sans-serif; }

/* line 1, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.img-detail {
  width: 500px;
  height: 500px; }

@font-face {
  font-family: 'the-witcher';
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff");
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff2"); }

/* line 7, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 {
  font-family: 'the-witcher', Arial, sans-serif; }

/* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
#hero {
  background: url("/media/hero-img.jpg") center center no-repeat;
  background-size: cover !important;
  background-position: center center;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  position: relative;
  height: 60vh; }
  @media screen and (orientation: landscape) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 100vh; } }
  @media (min-width: 992px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 70vh; } }
  @media (min-width: 1024px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 80vh; } }
  @media (min-width: 1200px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 100vh; } }
