@font-face {
  font-family: 'the-witcher';
  src: url("/static/scss/The-witcher.eot");
  src: url("/static/scss/The-witcher.eot?#iefix") format("embedded-opentype"), url("/static/scss/The-witcher.woff") format("woff"), url("/static/scss/The-witcher.ttf") format("truetype"), url("/static/scss/The-witcher.svg#webfont") format("svg"); }

/* line 11, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 h1 {
  font-family: 'The-witcher', Arial, sans-serif; }
