@font-face {
  font-family: 'the-witcher';
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff");
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff2"); }

/* line 7, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 {
  font-family: 'the-witcher', Arial, sans-serif; }

/* line 1, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.img-detail {
  width: 500px;
  height: 500px; }
