@font-face {
  font-family: 'the-witcher';
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff");
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff2"); }

/* line 55, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button {
  box-shadow: inset 0px 39px 0px -24px #534B62;
  background-color: #872FB9;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #534B62; }

/* line 69, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button:hover {
  background-color: #534B62; }

/* line 72, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button:active {
  position: relative;
  top: 1px; }

/* line 79, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 {
  font-family: 'the-witcher', Arial, sans-serif;
  font-size: 2rem; }
  @media (min-width: 992px) {
    /* line 79, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    h1 {
      font-size: 3rem; } }
/* line 88, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.logo {
  font-family: 'the-witcher', Arial, sans-serif;
  text-transform: none;
  font-size: 2rem; }

/* line 94, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
body {
  font-family: "Oswald", sans-serif; }

/* line 98, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.fas {
  font-size: 1.8rem; }

/* line 102, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.bg-light {
  background-color: transparent !important; }

/* line 107, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.bg-light.scrolled {
  background-color: #534B62 !important; }

/* line 111, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.nav-link.scrolled {
  color: #D69E63 !important; }

/* line 1, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_shop.scss */
.img-detail {
  width: 500px;
  height: 500px; }

@font-face {
  font-family: 'the-witcher';
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff");
  src: url("/static/fonts/the-witcher.woff?5505d5f44908") format("woff2"); }

/* line 55, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button {
  box-shadow: inset 0px 39px 0px -24px #534B62;
  background-color: #872FB9;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #534B62; }

/* line 69, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button:hover {
  background-color: #534B62; }

/* line 72, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.purple-button:active {
  position: relative;
  top: 1px; }

/* line 79, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
h1 {
  font-family: 'the-witcher', Arial, sans-serif;
  font-size: 2rem; }
  @media (min-width: 992px) {
    /* line 79, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
    h1 {
      font-size: 3rem; } }
/* line 88, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.logo {
  font-family: 'the-witcher', Arial, sans-serif;
  text-transform: none;
  font-size: 2rem; }

/* line 94, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
body {
  font-family: "Oswald", sans-serif; }

/* line 98, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.fas {
  font-size: 1.8rem; }

/* line 102, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.bg-light {
  background-color: transparent !important; }

/* line 107, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.bg-light.scrolled {
  background-color: #534B62 !important; }

/* line 111, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_base.scss */
.nav-link.scrolled {
  color: #D69E63 !important; }

/* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
#hero {
  background: url("/media/hero-img.jpg") center top no-repeat;
  background-size: cover !important;
  background-position: center top;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  position: relative;
  height: 80vh; }
  @media screen and (orientation: landscape) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 100vh; } }
  @media (min-width: 992px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 70vh; } }
  @media (min-width: 1024px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 80vh; } }
  @media (min-width: 1200px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      height: 100vh; } }
  @media (max-width: 992px) {
    /* line 9, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    #hero {
      background: url("/media/bg-mobile.png");
      background-position: center center; } }
/* line 26, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.tagline {
  font-family: "Merriweather", serif; }
  @media (max-width: 1200px) {
    /* line 26, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .tagline {
      font-size: 1.2rem; } }
/* line 34, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.hero-content {
  height: 80vh;
  margin-left: 2vh; }
  @media screen and (orientation: landscape) {
    /* line 34, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      height: 100vh; } }
  @media (min-width: 992px) {
    /* line 34, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      height: 70vh; } }
  @media (min-width: 1024px) {
    /* line 34, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      height: 80vh; } }
  @media (min-width: 1200px) {
    /* line 34, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      height: 100vh; } }
  @media (min-width: 992px) {
    /* line 34, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .hero-content {
      margin: 0;
      justify-content: left; } }
/* line 46, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.CTA-button {
  height: 8vh;
  margin-top: 5vh;
  width: auto;
  text-transform: uppercase;
  font-family: the-witcher;
  font-size: 1.2rem; }

/* line 55, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.h-text {
  text-align: left; }
  @media (min-width: 992px) {
    /* line 55, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .h-text {
      text-align: center; } }
/* line 63, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.about-wrapper {
  text-align: center;
  padding: 5vh;
  background-color: #D69E63;
  color: black; }

/* line 70, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.card-deck {
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 35vh; }

/* line 77, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.card {
  display: inline-block;
  height: auto;
  margin-left: 20vh; }
  @media (max-width: 992px) {
    /* line 77, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
    .card {
      margin: 0 !important; } }
@media (max-width: 992px) {
  /* line 88, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
  .card-col {
    justify-content: center;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh; } }

/* line 97, c:/users/carina/desktop/projects/code institute/4th milestone/static/scss/_index.scss */
.card-img-top {
  width: 300px;
  height: 300px; }
