{% extends 'base.html' %}

{% block content %}

<h3>{{ item }}</h3>

<div class="row row-flex">

    <div class="col-12 d-block">
        <a href="{% url 'view_all' %}">Go back</a>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <div class="panel-body">
            <img src="{{ MEDIA_URL }}{{ item.image }}" class="img-detail" alt="detailed-item-image" />

        </div>
    </div>
    <div class="col-6">
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form>

        <p class="product-description">{{ item.description }}</p>
        
    <p>Height: {{item.height}}</p>
    <p>Width: {{item.width}}</p>
    <p>Weight: {{item.weight}}</p>

        <p class="product-category">{{item.category}}</p>
        <p>€{{ item.price }}</p>
    </div>
</div>

<div class="row">

    <div class="col-12">

<h3>View Reviews</h3>

{% for review in reviews %}

{{ review.headline }}

{{ review.rating }}

{{ review.review_text }}

{% endfor %}

</div>

</div>


{% if purchased %}


<form role="form" id="review-form" method="POST" action="{% url 'submit_review' id=item.id %}">

                
    <h3>Leave a Review!</h3>

    <fieldset class="form-group">
        {% csrf_token %}
        {% load bootstrap_tags %}
        {{  review_form | as_bootstrap }}
    </fieldset>

    <button class="btn btn-success" button="submit" id="submit_review" name="review" type="submit"
    value="Submit Review"><span
        class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Review</button>
</form>


{% endif %}

{% endblock %}