{% extends 'base.html' %}

{% block content %}

<div class="detail-wrapper">

    <h3 class="detail-item-header">{{ item }}</h3>

    <div class="row row-flex">

        <div class="col-12 d-block back-btn">
            <a href="{% url 'view_all' %}">Return to Shop</a>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="detail-panel">
                <img src="{{ MEDIA_URL }}{{ item.image }}" class="img-detail" alt="detailed-item-image" />

            </div>
        </div>
        <div class="col-12 col-md-6 detail-info">
            <form method="post" action="{% url 'add_to_cart' id=item.id %}">

                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>

            <p class="product-description">{{ item.description }}</p>

            <p>Height: {{item.height}}</p>
            <p>Width: {{item.width}}</p>
            <p>Weight: {{item.weight}}</p>

            <p class="product-category">Category: {{item.category}}</p>
            <p>Price: €{{ item.price }}</p>
        </div>
    </div>

    <div class="row review-row">

        <div class="col-12">

            <div class="collapse" id="reviews">

                {% for review in reviews %}

                <p>
                    <h4>{{ review.headline }}</h4> by {{review.user}}
                </p>

                {% if review.rating == "5" %}

                <div class="star-rating"></div>
                <div class="star-rating"></div>
                <div class="star-rating"></div>
                <div class="star-rating"></div>
                <div class="star-rating"></div>

                {% endif %}

                {% if review.rating == "4" %}

                <div class="star-rating"></div>
                <div class="star-rating"></div>
                <div class="star-rating"></div>
                <div class="star-rating"></div>
                {% endif %}

                {% if review.rating == "3" %}
                <div class="star-rating"></div>
                <div class="star-rating"></div>
                <div class="star-rating"></div>
                {% endif %}

                {% if review.rating == "2" %}

                <div class="star-rating"></div>
                <div class="star-rating"></div>
                {% endif %}

                {% if review.rating == "1" %}

                <div class="star-rating"></div>

                {% endif %}

                <p>{{ review.review_text }}</p>

                {% endfor %}
            </div>
        </div>

    </div>


    {% if purchased %}

    <div class="row leave-review">

        <form role="form" id="review-form" method="POST" action="{% url 'submit_review' id=item.id %}">

            <h3>Leave a Review!</h3>

            <fieldset class="form-group">
                {% csrf_token %}
                {% load bootstrap_tags %}
                {{  review_form | as_bootstrap }}
            </fieldset>

            <button class="btn btn-success" button="submit" id="submit_review" name="review" type="submit"
                value="Submit Review"><span class="glyphicon glyphicon-ok-sign"
                    aria-hidden="true"></span>Review</button>
        </form>
    </div>

</div>
{% endif %}

{% endblock %}