{% extends 'base.hhtml' %}

{% block content %}

<h1>Shop</h1>

<ul class="list-reset flex flex-wrap justify-center items-center">
    <li class="mx-1">
        <a href="" class="btn">View All</a>
    </li>
    <li class="mx-1">
        <a href="" class="btn">Blacksmith</a>
    </li>
    <li class="mx-1">
        <a href="" class="btn">Armorer</a>
    </li>
    <li class="mx-1">
        <a href="" class="btn">Herbalist</a>
    </li>
    <li class="mx-1">
        <a href="" class="btn">Other</a>
    </li>
</ul>

{{ products }}

{% endblock %}