{% extends 'base.html' %}

{% block content %}

<div class="shop-wrapper">

    <div class="shop-container">

    <h1>Shop</h1>

    <ul class="cat-list flex flex-wrap justify-center items-center">
        <li class="mx-1 d-block cat-item">
            <a href="{% url 'view_all' %}"><button class="cat-all">View All</button></a>
        </li>

        {% for category in categories %}
        <li class="mx-1 cat-item">
            <a href="{% url 'view_categories' category %}"><button id="{{category}}"
                    class="cat-button">{{ category }}</button></a>
        </li>
        {% endfor %}
    </ul>
</div>

    <div class="grid-container">
        <div class="grid-row">
            {% for product in products %}
            <div class="panel">
                <div class="panel-body">

                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    <a href="{{product.get_item_details}}">
                        <h3 class="product-header">{{ product.name }}</h3>
                    </a>

                    <div class="panel-details">
                        <p class="product-category">{{product.category}}</p>
                        <p>€{{ product.price }}</p>
                    </div>
                    <form method="post" action="{% url 'add_to_cart' id=product.id %}">

                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control"
                                placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}