{% extends 'base.html' %}

{% block content %}

<h1>Greetings, {{ user.username }}</h1>
<div class="jumbotron">
    <form id="addressform" class="addressform" method="POST" action="{% url 'save_address' %}">

        <fieldset class="form-group">
            <!-- <p>Already got an account? <a href="">Sign In</a></p> -->
            {% csrf_token %}
            {% load bootstrap_tags %}
            {{  profile_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Update</button>
        </fieldset>
    </form>
</div>

<a href="{% url 'logout' %}">
    Logout
</a>

{% endblock %}