{% extends 'base.html' %}

{% block content %}

<section class="profile-wrapper">

    <!-- Greeting and logout button -->
    <div class="row">
        <div class="col-6">
            <h1>Greetings, {{ user.username }}</h1>
        </div>

        <div class="col-6">
            <a class="logout-link" href="{% url 'logout' %}"><button class="btn btn-secondary logout-btn">
                    Logout
                </button></a>
        </div>

    </div>
    <div class="row address-row">

        <!-- Saved address column -->
        <div class="col-6">

            <h3>Saved Address</h3>

            <div class="jumbotron">
                <form id="addressform" class="addressform" method="POST" action="{% url 'save_address' %}">

                    <fieldset class="form-group">
                        {% csrf_token %}
                        {% load bootstrap_tags %}
                        {{ form.errors }}
                        {{ form.non_field_errors }}
                        {{  profile_form | as_bootstrap  }}
                        <button type="submit" class="btn custom-button orange-button">Update</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <!-- Past Orders column -->
        <div class="col-6">
            <h3>Purchased Items</h3>

            {% if not order_items %}

            <p>Looks like you haven't made any orders yet. <a href="{% url 'view_all' %}">Go shopping!</a></p>

            {% endif %}

            {% for order in all_orders %}

            <p><b>{{ order.order.date }} - Total Order Price: € {{ order.total }}</b></p>

            <!-- Table that displays the previously ordered items. -->
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Review</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price per Unit</th>
                    </tr>
                </thead>

                <tbody>
                    {% for order_item in order.order_items %}
                    <tr>
                        <td>{{ order_item.product }}</td>
                        <td>
                            <p><a href="{{ order_item.product.get_item_details }}">Review this item!</a></p>
                        </td>
                        <td>
                            <p>{{ order_item.quantity }}</p>
                        </td>
                        <td>
                            <p>€ {{ order_item.product.price }}</p>
                        </td>
                        </th>
                    </tr>
                </tbody>
            </table>
            {% endfor %}

            {% endfor %}

        </div>

</section>
{% endblock %}