{% extends 'base.html' %}

{% block content %}

<h1>Cart</h1>

<p>Cart > Information > Shipping > Payment > Confirm</p>

<div class="row">
    <div class="col-6">
        <h2 class> Contact Information</h2>

        Email: {{user.email}}

        <h2>Shipping Address</h2>
        <form id="shipping" class="shipping" method="POST" action="{% url 'view_cart' %}">

            <fieldset class="form-group">
                {% csrf_token %}
                {% load bootstrap_tags %}
                {{  profile_form | as_bootstrap }}
            </fieldset>
        </form>
    </div>

    <div class="col-6">

        {% block ordersummary %}
        {% include 'ordersummary.html' %}
        {% endblock %}

    </div>
  
    {% endblock %}
   

</div>

