{% extends 'base.html' %}

{% block content %}

<div class="cart-wrapper">

    <h1 class="cart-headline">The Modern Witcher</h1>

    <div class="row">
        <div class="col-12">
            <p class="checkout-journey">Cart > <span class="highlighted">Information</span> > Payment > Confirm</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="cart-header"> Contact Information</h3>

            <p class="mb-5">Email: {{user.email}}</p>

            <h3 class="cart-header">Shipping Address</h3>
            <form id="shipping" class="shipping" method="POST" action="{% url 'view_cart' %}">

                <fieldset class="form-group">
                    {% csrf_token %}
                    {% load bootstrap_tags %}
                    {{  profile_form | as_bootstrap }}
                </fieldset>
            </form>
        </div>

        <div class="col-12 col-md-6">

            {% block ordersummary %}
            {% include 'ordersummary.html' %}
            {% endblock %}

            {% if cart_items %}
            <button class="btn green-button custom-button" button="submit" value="shipping" form="shipping"
                name="shipping" role="button"><span class="glyphicon glyphicon-ok-sign"
                    aria-hidden="true"></span>Continue</button>
            {% else %}
            <p class="cart-add">Add to your cart in order to get your awesome Witcher items! <a href="{% url 'view_all' %}">Go to
                    shop</a></p>

            {% endif %}
        </div>
    </div>
</div>

</div>

{% endblock %}