{% extends 'base.html' %}

{% load static %}

<!-- Inject the script for hiding the navbar. -->

{% block head_js %}

<script type="text/javascript" src="{% static 'js/hide-navbar.js' %}"></script>


{% endblock head_js %}

{% block content %}

<div class="cart-wrapper">

    <p class="checkout-journey">Cart > Shipping > Payment > <span class="highlighted">Confirm</span></p>

    <h2 class="thanks">Thank you for purchasing from The Witcher!</h2>

    <h3 class="cart-header">Purchased Items</h3>

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price per Unit</th>
            <th scope="col">Review</th>
        </tr>
    </thead>

    <tbody>
        {% for orderline in orderline %}
        <tr>
            <td>
                <p>{{ orderline.product }}</p>
            </td>
            <td>
                <p>{{ orderline.quantity }}</p>
            </td>
            <td>
                <p> {{ orderline.product.price }}</p>
            </td>
            <td>
                <p><a href="{{ orderline.product.get_item_details }}">Review this item!</a></p>
            </td>

            {% endfor %}
        </tr>
    </tbody>

    </table>
</div>
{% endblock %}
