{% extends 'base.html' %}

{% load static %}

{% block head_js %}

<script type="text/javascript" src="{% static 'js/hide-navbar.js' %}"></script>


{% endblock head_js %}

{% block content %}

<div class="cart-wrapper">

<p class="checkout-journey">Cart > Shipping > Payment > <span class="highlighted">Confirm</span></p>

<h1>Thank you for purchasing from The Witcher!</h1>

<h3 class="cart-header">Purchased Items</h3>

{% for orderline in orderline %}

<p>{{ orderline.product }} {{ orderline.quantity }} {{ orderline.product.price }}</p>
<a href="{{ orderline.product.get_item_details }}">Review this item!</a>

{% endfor %}

</div>
{% endblock %}


