{% extends 'base.html' %}

{% block content %}

<a></a>
<h1>Shipping</h1>



<div class="row">
    <div class="col-12 d-block">
        <a href="{% url 'view_cart' %}">Go back</a>
    </div>
</div>

<p>Cart > Shipping > Payment > Confirm</p>
<div class="row">
    <div class="col-6">

        <h3>Shipping Address</h3>
        <p>
            <div class="row">
                <div class="col-6">

                    {{profile.address1}}, {{profile.zipcode}}, {{profile.country}}

                </div>
         <div class="col-6">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#address" aria-expanded="false" aria-controls="address">
              View Full Address
            </button>
        </div>
        </div>
          </p>
          <div class="collapse show" id="address">
            <fieldset class="form-group">
                {% csrf_token %}
                {% load bootstrap_tags %}
                {{  profile_form | as_bootstrap }}
            </fieldset>
          </div>

        <h3>Payment Details</h3>

        <fieldset class="form-group">
            {% csrf_token %}
            {% load bootstrap_tags %}
            {{  payment_form | as_bootstrap }}
        </fieldset>
    </div>

    <div class="col-6">

        {% block ordersummary %}
        {% include 'ordersummary.html' %}
        {% endblock %}


    </div>
</div>

<script>

$('.collapse').collapse()
</script>
{% endblock %}