{% extends 'base.html' %}
{% load static %}

<!-- Add the script to enable the Stripe functionality. -->
<!-- Inject the script for hiding the navbar -->

{% block head_js %}
<script type='text/javascript' src='https://js.stripe.com/v2/'></script>
<script type="text/javascript" src="{% static 'js/hide-navbar.js' %}"></script>
<script type='text/javascript'>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

{% endblock head_js %}

{% block content %}

<div class="cart-wrapper">

    <div class="headline d-flex justify-content-center">
        <h1 class="cart-headline mb-5 d-block">The Modern Witcher</h1>
    </div>

    <!-- Back button which leads back to the shipping part of the checkout journey. -->

    <div class="row">
        <div class="col-12 d-block back-link">
            <a href="{% url 'view_cart' %}">Go back</a>
        </div>
    </div>


        <!-- Checkout journey -->

    <div class="row">
        <div class="col-12">
        <p class="checkout-journey">Cart > Shipping > <span class="highlighted">Payment</span> > Confirm</p>
    </div>
    </div>

    <div class="row">
<!-- 
        Summarized address, with a button to change it which leads back to the previous page in
        the checkout journey. -->

        <div class="col-12 col-md-6">

            <h3 class="cart-header">Shipping Address</h3>

            <div class="row">
                <div class="col-6 profile-col">

                    {{profile.address1}}, {{profile.zipcode}}, {{profile.country}}

                </div>
                <div class="col-6 profile-col">
                    <a class="btn custom-button orange-button" id="address-button" type="button"
                        href="{% url 'view_cart' %}">
                        Change Address
                    </a>
                </div>

                <!-- Form which initiates the payment and triggers the script in stripe.js. -->

                <form role="form" id="payment-form" method="POST" action="{% url 'payment' %}">

                    <h3 class="cart-header">Order Details</h3 c>

                    <fieldset class="form-group">
                        {% csrf_token %}
                        {% load bootstrap_tags %}
                        {{  order_form | as_bootstrap }}
                    </fieldset>

                    <h3 class="cart-header">Payment Details</h3 c>

                    <fieldset class="form-group">
                        {% csrf_token %}
                        {% load bootstrap_tags %}
                        {{  payment_form | as_bootstrap }}
                    </fieldset>

                    <!-- Complete Order button -->

                    <button class="btn custom-button green-button order-button" button="submit" id="submit_payment_btn"
                        name="commit" type="submit" value="Submit Payment"><span class="glyphicon glyphicon-ok-sign"
                            aria-hidden="true"></span>Complete Order</button>

                    <small class="d-block">*clicking on the above button will charge your credit cart</small>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6">

            {% block ordersummary %}
            {% include 'ordersummary.html' %}
            {% endblock %}

        </div>

    </div>

    {% endblock %}