<!DOCTYPE html>
<html lang="en">
<head>

        <!-- Common metadata, such as information on the author and a description.  -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
    content="A shop for fans by fans of The Witcher series of novels, video games and TV series. Buy swords, armor, potions, and all els a witcher may need.">
<meta name="author" content="Carina Pöll">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Modern Witcher</title>
</head>
<body>
    
</body>
</html>