{% extends 'base.html' %}

{% load static %}
{% block head_js %}

<script type="text/javascript" src="{% static 'js/fixed-navbar.js' %}"></script>

{% endblock head_js %}
{% block content %}

<section id="hero" class="align-items-center justify-content-center d-block">

    <!-- Add overlay -->

    <div class="img-overlay-index">&nbsp;</div>

    <div class="container-fluid align-items-center mt-5">

        <div class="hero-content d-flex align-items-center">
            <div class="row">

                <div class="col-12 d-flex align-items-center d-block">

                    <div class="h-text">
                        <h1 class="header-text">The Modern Witcher</h1>
                        <h4 class="tagline">upgrade your demon-slaying online!</h4>
                        <a href="{% url 'view_all' %}" class="CTA"><button class="CTA-button purple-button">See items
                                now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END LANDING PAGE -->

    </div>
</section>


<section id="about d-block">

    <div class="container-fluid about-wrapper">

        <h2>About</h2>

        <p>'The Modern Witcher' is an online store that specializes in merchandise for the The Witcher franchise.</p>
        <p>Come discover our exclusive merchandise on offer and enjoy worldwide shipping for all your demon-slaying
            needs.</p>

    </div>

</section>

<section id="feature-section" class="d-block">

    <div class="container-fluid">

        <h2 class="text-center mt-5">Featured Items</h2>

        <div class="card-deck">
            <div class="row justify-content-center">
                {% for feature in featured %}
                <div class="col-12 col-md-3 card-col">
                    <div class="card m-5" style="width:300px">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ feature.image }}" alt="Feature image">
                        <div class="card-body">
                            <h4 class="card-title">{{ feature.name }}</h4>
                            <p class="card-desc">{{feature.category}}</p>
                            <p class="card-price">€{{feature.price}}</p>
                            <a href="{{feature.get_item_details}}">
                                <h3>See Details</h3>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

</section>

{% endblock %}