{% extends 'base.html' %}

{% block content %}

<section id="hero" class="align-items-center justify-content-center d-flex">

    <!-- Add overlay -->

    <div class="img-overlay-index">&nbsp;</div>

    <div class="container-fluid align-items-center mt-5">

        <div class="hero-content d-flex align-items-center">
            <div class="row">

                <div class="col-12 d-flex align-items-center d-block">

                    <div class="h-text text-center">
                        <h1 class="header-text">The Modern Witcher</h1>
                        <h4 class="tagline">upgrade your demon-slaying online!</h4>
                        <a href="{% url 'view_all' %}" class="CTA"><button class="CTA-button purple-button">See items now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END LANDING PAGE -->

    </div>
</section>




<section id="about">

    <div class="container-fluid about-wrapper">

        <h2>About</h2>

        <p>'The Modern Witcher' is an online store that specializes in merchandise for the The Witcher franchise.</p>
        <p>Come discover our exclusive merchandise on offer and enjoy worldwide shipping for all your demon-slaying needs.</p>
        
        </div>

</section>

    <div class="container-fluid">

        {% for feature in featured %}

        {{ feature }}

        {% endfor %}

        {% endblock %}