{% extends 'base.html' %}

{% block content %}

<section id="hero" class="align-items-center justify-content-center d-flex">

    <!-- Add overlay -->

    <div class="img-overlay-index">&nbsp;</div>

    <div class="container-fluid align-items-center mt-5">

        <div class="div hero-content">
            <div class="row justify-content-center">

                <div class="col-12 d-flex justify-content-center align-items-center d-block">

                    <div class="h-text text-center">
                        <h1>The Modern Witcher</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END LANDING PAGE -->

    <div class="container-fluid">

        {% for feature in featured %}

        {{ feature }}

        {% endfor %}
    </div>
</section>
{% endblock %}