.profile-wrapper {
    margin: 15vh;
}

.logout-link {
    text-decoration: none !important;
    color: white !important;
}

.address-row {
    margin-top: 10vh;
}

.profile-col {
    @media (min-width: $bp-mobile) {
        padding: 10px !important;
    }
}