@font-face{ 
    font-family: 'the-witcher';
    src: url('/static/fonts/the-witcher.woff') format('woff');
    src: url('/static/fonts/the-witcher.woff') format('woff2');
}


// Colors 

$orange: #D69E63;
$purple: #872FB9;
$black: #1B1725;
$murky-purple: #534B62;
$red: #C23138;
$golden: #D6BA70;

// Fonts

$main-font: 'Oswald', sans-serif;
$secondary-font: 'Merriweather', serif;

// Media query breakpoints

$bp-mini: 576px;
$bp-landscape: 667px;
$bp-mobile: 768px;
$bp-tablet: 992px;
$bp-ipadpro: 1024px;
$bp-desktop: 1200px;


// Create height scale mixin to be used for responsive design.

@mixin height-scaling {
    height: 80vh;

    @media screen and (orientation: landscape) {
        height: 100vh;
    }

    @media (min-width: $bp-tablet) {
        height: 70vh;
    }

    @media (min-width: $bp-ipadpro) {
        height: 80vh;
    }

    @media (min-width: $bp-desktop) {
        height: 100vh;
    }
}

// Button Design

.purple-button {
	box-shadow:inset 0px 39px 0px -24px $murky-purple;
	background-color: $purple;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px $murky-purple;
}
.purple-button:hover {
	background-color: $murky-purple;
}
.purple-button:active {
	position:relative;
	top:1px;
}

// General layout

h1 {
    font-family: 'the-witcher', Arial, sans-serif; 
    font-size: 2rem;

    @media (min-width: $bp-tablet) {
        font-size: 3rem;
    }
}

.logo {
    font-family: 'the-witcher', Arial, sans-serif;
    text-transform: none;
    font-size: 2rem;
    color: $red;
    margin-left: 5vw;
}

body {
    font-family: $main-font;
    padding: 0;
}

html {
    padding:0;
}

.col-12 {
    padding:0 !important;
}

.fas {
    font-size: 1.8rem;
}

.bg-light {
    background-color: transparent !important;

}

.bg-light.scrolled {
    background-color: $golden !important;
}