@font-face{ 
	font-family: 'the-witcher';
	src: url('the-witcher.eot');
	src: url('the-witcher.eot?#iefix') format('embedded-opentype'),
	     url('the-witcher.woff') format('woff'),
	     url('the-witcher.ttf') format('truetype'),
	     url('the-witcher.svg#webfont') format('svg');
}

h1 {
    h1 { font-family: 'the-witcher', Arial, sans-serif; }
}