@import "_base.scss";

.cart-wrapper {
    padding: 15vh;

    @media (min-width: $bp-desktop) {
        margin-left: 10vh;
    }
}

.order-details {
    @media (min-width: $bp-desktop) {
        margin-left: 10vh;
    }

    padding: 5vh;
}

.highlighted {
    border-radius: 25%;
    background-color: $orange;
    padding: 1vh;
}

.checkout-journey {
    margin-bottom: 10vh;
}

.cart-header {
    margin-bottom: 5vh;
}

#payment-form {
    padding-left: 15px;
}

#address-button {
    margin: 0 !important;
}

.profile-col {
    margin-bottom: 5vh;
}

.order-card {
    text-align: center;
}

.cart-headline {
    font-family: 'the-witcher';
}

.back-link {
    padding-left: 15px;
}

.thanks {
    font-family: 'the-witcher', Arial;
    margin-bottom: 5vh;
}

.cart-add {
    margin-left: 5vh;
}