@import "_base.scss";


// Landing Page


// Main image. Uses a smaller version of the same image for small devices in order to cut down on loading times.

#hero {
    background: url("/media/hero-img.jpg") center top no-repeat;
    background-size: cover !important;
    background-position: center top;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    position: relative;

    @include height-scaling;

    @media (max-width: $bp-tablet) {
        background: url("/media/bg-mobile.png");
        background-position: center center;
    }

}

.header-text {
    font-size: 4rem;

    @media (min-width: $bp-desktop) {
        font-size: 5rem;
    }
}

.tagline {
    font-family: $secondary-font;

    @media (max-width: $bp-desktop) {
        font-size: 1.2rem;
    }
}

.hero-content {

    @include height-scaling;

    margin-left: 2vh;

    @media (min-width: $bp-tablet) {
        margin-left: 30vh;
    }
}

.CTA-button {
    height: 8vh;
    margin-top: 5vh;
    width: auto;
    text-transform: uppercase;
    font-family: the-witcher;
    font-size: 1.2rem;
}

.h-text {
    text-align: left;

    @media (min-width: $bp-tablet) {
        text-align: center;
    }
}

.about-wrapper {
    text-align: center;
    padding: 5vh;
    background-color: $orange;
    color: black;
}

.card-deck {
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 35vh;

}

.card {
    display: inline-block;
    height: auto;
    margin-left: 20vh;
    width: 300px;

    @media (max-width: $bp-tablet) {
        width: 200px;
        display: flex;
        justify-content: center;
        }

    @media (max-width: $bp-tablet) {
margin: 0 !important;
    }

}

.card-col {
    @media (max-width: $bp-tablet) {
        justify-content: center;
        display: flex;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}

.card-img-top {
width: 300px;
height: 300px;

@media (max-width: $bp-tablet) {
    width: 200px;
    height: auto;
}

}
