@import "_base.scss";


// Landing Page


// Main image. Uses a smaller version of the same image for small devices in order to cut down on loading times.

#hero {
    background: url("/media/hero-img.jpg") center top no-repeat;
    background-size: cover !important;
    background-position: center top;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    position: relative;

    @include height-scaling;

    // @media (min-width: $bp-tablet) {
    //     background: url("/static/img/puzzle-md.jpg");
    //     background-position: center center;

    // }

    // @media (min-width: $bp-ipadpro) {
    //     background: url("/static/img/puzzle-lg.jpg");
    //     background-position: center center;
    //     background-size: cover;

    // }

    // @media (min-width: $bp-desktop) {
    //     background: url("/static/img/puzzle-lg-cropped.jpg");
    //     background-position: center center;
    //     background-size: cover;

    // }

}

.tagline {
    font-family: $secondary-font;
}

.hero-content {

    @include height-scaling;

    margin-left: 20vh;
}

.CTA-button {
    height: 8vh;
    margin-top: 5vh;
    width: 12vw;
    text-transform: uppercase;
    font-family: the-witcher;
    font-size: 1.2rem;
}

.about-wrapper {
    text-align: center;
    padding: 5vh;
    background-color: $orange;
    color: black;
}

