.shop-wrapper {
    margin-top: 10vh;
}

.img-detail {
    width: 500px;
    height: 500px;
}

.category-item {
    display: block !important;
}

.cat-list {
    display:table-row; 
}

.cat-item {
    display: table-cell;
    list-style-type: none;
    margin: 10px;
    vertical-align: middle;
}

.cat-button, .cat-all {
    background-color: transparent;

}

.cat-button:hover, .cat-all:hover {
    background-color: $golden;
}

.selected {
    background-color:$orange !important;
}

