.shop-wrapper, .detail-wrapper {
    margin: 0 auto;

    @media (min-width: $bp-tablet) {
        margin: 10vh;
    }
}

.img-detail {
    width: 40vh;
    height: 40vh;

    @media (min-width: $bp-mobile) {
        width: 500px;
        height: 500px;
    }
}

.category-item {
    display: block !important;
}

.cat-list {
    display:table-row; 
}

.cat-item {
    display: table-cell;
    list-style-type: none;
    margin: 10px;
    vertical-align: middle;

    @media (max-width: $bp-tablet) {
        display: contents;
    }
}

.cat-button, .cat-all {
    background-color: transparent;
    padding:10px;
    margin: 5px;

}

.cat-button:hover, .cat-button:active, .cat-all:hover,
.cat-all:active {
    background-color: $golden;
}

.selected {
    background-color:$orange !important;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .grid-container {
    max-width: 1335px;
    margin: 0 auto;
    padding: 10vh;
    padding-top: 10vh;
  }

  .shop-container {
    max-width: 1335px;
    margin: 0 auto; 
    padding-left: 10vh;
  }
  .panel {
    max-height: 550px;
    flex-basis: 20%;
    -ms-flex: auto;
    flex: auto;
    max-width: 350px;
    position: relative;
    padding: 30px;
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
  }

.product-header {
    text-align: center;
}

.product-description {
    min-height: 40px;
}

.product {
    height: 200px;
    width: 200px;
    background-position:center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.back-btn {
    margin-left: 5vh;
    margin-bottom: 5vh;
}

.img-detail {
    padding: 0px;

    @media (min-width: $bp-mobile) {
padding: 50px;
    }
}

.detail-info {
    padding: 0px;

    @media (min-width: $bp-mobile) {
padding: 50px;
    }
}

.detail-wrapper {
    margin-top: 20vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.back-btn {
    margin-left: 10vh;
}

.detail-item-header {
    font-family: 'the-witcher', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
}

.product-description {
    margin-top: 5vh;
}

.star-rating {
    background-image: url("/media/star.jpg");
    height: 20px;
    width: 20px;
    background-size: contain;
    display: inline-block;
}

.review-row {
    padding: 0px;

    @media (min-width: $bp-mobile) {
padding: 50px;
    }
}

.leave-review {
    padding-left: 50px;
    margin-top: 10vh;
}

#review-header.review-opened i {
    transform: rotate(180deg);
}