.shop-wrapper {
    margin: 0;

    @media (min-width: $bp-tablet) {
        margin: 10vh;
    }
}

.img-detail {
    width: 500px;
    height: 500px;
}

.category-item {
    display: block !important;
}

.cat-list {
    display:table-row; 
}

.cat-item {
    display: table-cell;
    list-style-type: none;
    margin: 10px;
    vertical-align: middle;

    @media (max-width: $bp-tablet) {
        display: contents;
    }
}

.cat-button, .cat-all {
    background-color: transparent;
    padding:10px;
    margin: 5px;

}

.cat-button:hover, .cat-button:active, .cat-all:hover,
.cat-all:active {
    background-color: $golden;
}

.selected {
    background-color:$orange !important;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
    margin-bottom: 5vh;
}

.product-header {
    text-align: center;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}

.panel-details {
text-align: center;
}

.product-description {
    min-height: 40px;
}

.product {
    height: 200px;
    width: 200px;
    background-position:center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
