<!-- BEGIN FOOTER -->

<footer id="footer">
    <div class="container-fluid footer">

        <!--- Contact -->

        <div class="footer-content">
            <div class="row footer-row mt-0 ">
                <div class="col-12 col-sm-6 col-md-4 footer-col">
                    <h6 class="footer-head d-block"><i class="fas fa-at"></i>Contact</h6>
                    <p class="d-inline d-md-block">E-Mail: carrie.poell@gmail.com</p>
                </div>

                <!--- Github link & logo -->

                <div class="col-12 col-sm-6 col-md-4 mb-1 footer-col">
                    <h6 class="footer-head d-block">Github</h6>
                    <a href="https://github.com/synnea" target="_blank"><i class="fab fa-github github-logo hvr-bounce-in"></i></a>
                </div>

                <!--- Disclaimer -->

                <div class="col-4 d-none d-md-block footer-col">
                    <div>This is not a real e-commerce website. For educational purposes only.</div>
                </div>
            </div>

            <!-- Copyright -->

            <div class="row copyright justify-content-center">
                <div class="col-12">
                    <div>&copy;2019 Carina Poell</div>
                </div>
            </div>
        </div>
    </div>
</footer i>

<!-- END FOOTER -->