<div class="container-fluid navbar-container">
    <div class="row">
        <nav class="col-12 navbar navbar-expand-lg navbar-light bg-light bg-color static-top" id="navbar">

            <!-- Logo which serves as home button -->

            <a class="logo hvr-bounce-in" href="{% url 'home_view' %}">MW</a>

            <!-- Dropdown menu for iPad and smaller screen sizes. -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" id="hamburger"></span>
            </button>

            <!-- Dropdown Button -->

            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <!-- Navbar Menu Items -->

                <ul class="navbar-nav ml-auto nav-fill w-50">

                    <li class="nav-item" id="navShop">
                        <a class="nav-link hvr-bounce-in" href="{% url 'view_all' %}" id="navShopLink">Shop Now</a>
                    </li>

                    <li class="nav-item" id="navAccount">
                        <a class="nav-link hvr-bounce-in" href="{% url 'view_account' %}" id="navAccount">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>

                    <li class="nav-item" id="navCart">
                        <a class="nav-link hvr-bounce-in" href="{% url 'view_cart' %}" id="navCart">
                            <i class="fas fa-cart-arrow-down"></i>
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>

        </nav>

    </div>
</div>
